<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Add Person</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
   </head>
   <body>
       
      <!--  
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}         
         -->
      <div class="container">
         <div class="row">
            <div class="col"></div>
            <div class="col-6">
               <h1>Create a Person</h1>
               <form th:action="@{/addPerson}"
                     th:object="${personForm}" method="POST">
                  <div class="form-group">
                     <label for="exampleCasta">Casta</label>
                     <select class="form-control" id="exampleCasta" th:field="*{casta}">
                        <option th:value="ALFA" th:text="Alpha"></option>
                        <option th:value="BETA" th:text="Beta"></option>
                        <option th:value="GAMMA" th:text="Gamma"></option>
                        <option th:value="EPSILON" th:text="Epsilon"></option>
                     </select>
                  </div>
                  <!--<select th:field="*{casta}">
                     <option th:value="ALFA" th:text="'High caste'"></option>
                     <option th:value="BETA" th:text="'Other casta'"></option>
                  </select>-->
                  <!--<br/>-->
                  <div class="form-group">
                     <label for="exampleCount">Count</label>
                     <input type="text" class="form-control" id="exampleCount"placeholder="Enter count of humans"  th:field="*{count}">
                     <small id="emailHelp" class="form-text text-muted">Number of humans in order</small>
                  </div>
                  <!--Count:
                  <input type="text" th:field="*{count}" />
                  <br/>-->
                  <input type="submit" value="Create" class="btn btn-outline-success"/>
               </form>
               <div th:if="${errorMessage}" th:utext="${errorMessage}"
                    style="color:red;font-style:italic;">
               </div>
            </div>
            <div class="col"></div>
         </div>
         <div class="row"><div class="col"></div></div>
      </div>

       
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       

       
   </body>
</html>