<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hatchery: Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <fieldset disabled>
            <button type="button" class="btn btn-raised btn-success">
                <a th:href="@{/home}">personal account</a></button>
            <button type="button" class="btn btn-raised btn-danger"><a th:href="@{/logout}">Sign Out</a></button>
        </fieldset>
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <h1>Dashboard</h1>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Service Type</th>
                        <th scope="col">In queue</th>
                        <th scope="col">In progress</th>
                        <th scope="col">Failed</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Service status</th>
                        <th scope="col">Get task</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Fertilization service</th>
                        <td><span th:text="${TABLE_MAP['FERTILIZATION.QUEUE']}"></span></td>
                        <td><span th:text="${TABLE_MAP['FERTILIZATION.IN_PROGRESS']}"></span></td>
                        <td><span th:text="${TABLE_MAP['FERTILIZATION.FAILED']}"></span></td>
                        <td><span th:text="${TABLE_MAP['FERTILIZATION.COMPLETED']}"></span></td>
                        <td th:if="${T(com.ifmo.hatchery.controller.DashboardController).hasFailures(TABLE_MAP['FERTILIZATION.COMPLETED'])}">
                            <a th:href="@{/restartService/fertilization}">Failed</a>
                        </td>
                        <td th:if="${!(T(com.ifmo.hatchery.controller.DashboardController).hasFailures(TABLE_MAP['FERTILIZATION.COMPLETED']))}">
                            <a th:href="@{/restartService/fertilization}">Active</a>
                        </td>
                        <td th:if="${TABLE_MAP['FERTILIZATION.QUEUE'] > 0L }">
                            <a th:href="@{/task/fertilization}">Get task!</a>
                        </td>
                        <td th:if="${TABLE_MAP['FERTILIZATION.QUEUE'] == 0L }">
                            No tasks
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Caste service</th>
                        <td><span th:text="${TABLE_MAP['CHOOSE_CASTE.QUEUE']}"></span></td>
                        <td><span th:text="${TABLE_MAP['CHOOSE_CASTE.IN_PROGRESS']}"></span></td>
                        <td><span th:text="${TABLE_MAP['CHOOSE_CASTE.FAILED']}"></span></td>
                        <td><span th:text="${TABLE_MAP['CHOOSE_CASTE.COMPLETED']}"></span></td>
                        <td th:if="${T(com.ifmo.hatchery.controller.DashboardController).hasFailures(TABLE_MAP['CHOOSE_CASTE.COMPLETED'])}">
                            <a th:href="@{/restartService/choose_caste}">Failed</a>
                        </td>
                        <td th:if="${!(T(com.ifmo.hatchery.controller.DashboardController).hasFailures(TABLE_MAP['CHOOSE_CASTE.COMPLETED']))}">
                            <a th:href="@{/restartService/choose_caste}">Active</a>
                        </td>
                        <td th:if="${TABLE_MAP['CHOOSE_CASTE.QUEUE'] > 0L}">
                            <a th:href="@{/task/choose_caste}">Get task!</a>
                        </td>
                        <td th:if="${TABLE_MAP['CHOOSE_CASTE.QUEUE'] == 0L}">
                            No tasks
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Bokanovskiy service</th>
                        <td><span th:text="${TABLE_MAP['BOKANOVSKIY.QUEUE']}"></span></td>
                        <td><span th:text="${TABLE_MAP['BOKANOVSKIY.IN_PROGRESS']}"></span></td>
                        <td><span th:text="${TABLE_MAP['BOKANOVSKIY.FAILED']}"></span></td>
                        <td><span th:text="${TABLE_MAP['BOKANOVSKIY.COMPLETED']}"></span></td>
                        <td th:if="${T(com.ifmo.hatchery.controller.DashboardController).hasFailures(TABLE_MAP['BOKANOVSKIY.COMPLETED'])}">
                            <a th:href="@{/restartService/bokanovskiy}">Failed</a>
                        </td>
                        <td th:if="${!(T(com.ifmo.hatchery.controller.DashboardController).hasFailures(TABLE_MAP['BOKANOVSKIY.COMPLETED']))}">
                            <a th:href="@{/restartService/bokanovskiy}">Active</a>
                        </td>
                        <td th:if="${TABLE_MAP['BOKANOVSKIY.QUEUE'] > 0L}">
                            <a th:href="@{/task/bokanovskiy}">Get task!</a>
                        </td>
                        <td th:if="${TABLE_MAP['BOKANOVSKIY.QUEUE'] == 0L}">
                            No tasks
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Skills service</th>
                        <td><span th:text="${TABLE_MAP['ADD_SKILLS.QUEUE']}"></span></td>
                        <td><span th:text="${TABLE_MAP['ADD_SKILLS.IN_PROGRESS']}"></span></td>
                        <td><span th:text="${TABLE_MAP['ADD_SKILLS.FAILED']}"></span></td>
                        <td><span th:text="${TABLE_MAP['ADD_SKILLS.COMPLETED']}"></span></td>
                        <td th:if="${T(com.ifmo.hatchery.controller.DashboardController).hasFailures(TABLE_MAP['ADD_SKILLS.COMPLETED'])}">
                            <a th:href="@{/restartService/add_skills}">Failed</a>
                        </td>
                        <td th:if="${!(T(com.ifmo.hatchery.controller.DashboardController).hasFailures(TABLE_MAP['ADD_SKILLS.COMPLETED']))}">
                            <a th:href="@{/restartService/add_skills}">Active</a>
                        </td>
                        <td th:if="${TABLE_MAP['ADD_SKILLS.QUEUE'] > 0L}">
                            <a th:href="@{/task/add_skills}">Get task!</a>
                        </td>
                        <td th:if="${TABLE_MAP['ADD_SKILLS.QUEUE'] == 0L}">
                            No tasks
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Storage service</th>
                        <td><span th:text="${T(com.ifmo.hatchery.controller.DashboardController).NOT_APPLICABLE}"></span></td>
                        <td><span th:text="${T(com.ifmo.hatchery.controller.DashboardController).NOT_APPLICABLE}"></span></td>
                        <td><span th:text="${T(com.ifmo.hatchery.controller.DashboardController).NOT_APPLICABLE}"></span></td>
                        <td><span th:text="${TABLE_MAP['FINISH.COMPLETED']}"></span></td>
                        <td><span>Acitve</span></td>
                        <td><span th:text="${T(com.ifmo.hatchery.controller.DashboardController).NOT_APPLICABLE}"></span></td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;"></div>
                <div th:if="${infoMessage}" th:utext="${infoMessage}"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>