<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<head>
    <title>BIO LK</title>
</head>
<body>
<h1>Welcome!</h1>

<h1 th:inline="text">Give a biaomaterial  [[${#httpServletRequest.remoteUser}]]!!!!!!</h1>


<p> <a th:href="@{/home}">Back</a> </p>

<form th:action="@{/donor/giveBio}" method="POST">
    <div class="form-group">
        <div th:if="${gender_attribute==T(com.ifmo.hatchery.model.system.BiomaterialType).MALE}">
            Give a male biomaterial.
            <input type="hidden" name="biomaterial" th:value="${gender_attribute}"/>
        </div>
        <div th:if="${gender_attribute==T(com.ifmo.hatchery.model.system.BiomaterialType).FEMALE}">
            Give a female biomaterial.
            <input type="hidden" name="biomaterial" th:value="${gender_attribute}"/>
        </div>
        <div th:if="${gender_attribute==null}">
        <label for="biomaterial">Biomaterial</label>
        <select class="form-control" id="biomaterial" name="biomaterial">

            <option th:each="bioOpt : ${T(com.ifmo.hatchery.model.system.BiomaterialType).values()}"
                    th:value="${bioOpt}" th:text="${bioOpt}"></option>
        </select>
        </div>
    </div>

    <input type="submit" value="Give" />
</form>
</body>
</html>