<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hatchery: Welcome page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/order}">order</a> </p>
<p><a th:href="@{/dashboard}">dashboard</a></p>
<p><a th:href="@{/donor}">donor</a></p>



<h1>test</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">stage</th>
        <th scope="col">lockStatus</th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${myOrders.empty}">
        <td colspan="4"> No Orders Available </td>
    </tr>
    <tr th:each="order : ${myOrders}">
        <th scope="row"><span th:text="${order.id}"></span></th>
        <td><span th:text="${order.stage}"></span></td>
        <td><span th:text="${order.lockStatus}"></span></td>
    </tr>
    </tbody>
</table>


</body>
</html>