<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hatchery: Welcome page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
<body>
<h1>Welcome!</h1>

<!--ROLE_DONOR-->
<div th:if="${role=='ROLE_DONOR'}">
    <form th:action="@{/donor}" method="get">
        <input type="submit" value="Give a BIO"/>
    </form>
</div>

<!--ROLE_DISPATCHER-->
<div th:if="${role=='ROLE_DISPATCHER'}">
    <form th:action="@{/dashboard}" method="get">
        <input type="submit" value="Dashboard"/>
    </form>
</div>
<!--ROLE_CUSTOMER-->
<div th:if="${role=='ROLE_CUSTOMER'}">
    <form th:action="@{/order}" method="get">
        <input type="submit" value="Order"/>
    </form>
</div>

<div th:if="${role=='ROLE_ADMIN'}">
    <form th:action="@{/order}" method="get">
        <input type="submit" value="Order"/>
    </form>
    <form th:action="@{/dashboard}" method="get">
        <input type="submit" value="Dashboard"/>
    </form>
    <form th:action="@{/donor}" method="get">
        <input type="submit" value="Give a BIO"/>
    </form>
</div>


<p>-------------------</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<!--<h1>test</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">stage</th>
        <th scope="col">lockStatus</th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${myOrders.empty}">
        <td colspan="4"> No Orders Available </td>
    </tr>
    <tr th:each="order : ${myOrders}">
        <th scope="row"><span th:text="${order.id}"></span></th>
        <td><span th:text="${order.stage}"></span></td>
        <td><span th:text="${order.lockStatus}"></span></td>
    </tr>
    </tbody>
</table>-->


</body>
</html>