<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
   <head>
      <meta charset="UTF-8" />
      <title>Person List</title>
<!--      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
   </head>
   <body>
<!--      <h1>Person List</h1>
      <a href="addPerson">Add Person</a>
      <a href="index">   Menu</a>-->
      
      <br/><br/>
      <div class="container">
         <div class="row"><div class="col-4"><h1>Person List</h1></div></div>
         <div class="row">
            <div class="col-2">
               <a href="addPerson">Add Person</a>
            </div>
            <div class="col-2">
               <a href="index">Menu</a>
            </div>
         </div>
         <div class="row">
            <div class="col-8">
               <table id="table" class="table table-striped table-bordered small" style="width: 100%">
                  <thead class="thead-light">
                  <tr>
                     <th scope="col">Username</th>
                     <th scope="col">Password</th>
                     <th scope="col">ROLE</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each ="person : ${persons}">
                     <td th:utext="${person.username}">...</td>
                     <td th:utext="${person.password}">...</td>
                     <td th:utext="${person.id}">...</td>
                  </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
      <script>
    $(document).ready(function() {
        $('#table').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    } );
    </script>
      <!--<div>
         <table border="1">
            <tr>
               <th scope="col">Casta</th>
               <th scope="col">Count</th>
               <th scope="col">Status</th>
            </tr>
            <tr th:each ="person : ${persons}">
               <td th:utext="${person.casta}">...</td>
               <td th:utext="${person.count}">...</td>
               <td th:utext="${person.status}">...</td>
               
            </tr>
         </table>
      </div>-->
   </body>
</html>