<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hatchery: Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-4">
                <form th:action="@{/task/processTask}"
                      method="POST">
                    <input type="text" hidden name="taskId" th:value="${taskForProcess.id}">
                    <!-- FERTILIZATION -->
                    <div class="form-group" th:if="${taskForProcess.stage == T(com.ifmo.hatchery.model.system.Stage).FERTILIZATION}">
                        <label for="maleBioMaterial">Male material</label>
                        <select class="form-control" id="maleBioMaterial" name="maleBioMaterialId">
                            <option th:each="bioMaterial : ${maleBioMaterial}"
                                    th:value="${bioMaterial.id}"
                                    th:text="${bioMaterial.getFormSting()}"></option><!-- : ${bioMaterial.type} : ${bioMaterial.donor.name} -->
                        </select>
                    </div>
                    <div class="form-group" th:if="${taskForProcess.stage == T(com.ifmo.hatchery.model.system.Stage).FERTILIZATION}">
                        <label for="femaleBioMaterial">Female material</label>
                        <select class="form-control" id="femaleBioMaterial" name="femaleBioMaterialId">
                            <option th:each="bioMaterial : ${femaleBioMaterial}"
                                    th:value="${bioMaterial.id}"
                                    th:text="${bioMaterial.getFormSting()}"></option> <!-- : ${bioMaterial.type} : ${bioMaterial.donor.name} -->
                        </select>
                    </div>

                    <!-- OR -->
                    <div class="row" th:if="${T(com.ifmo.hatchery.controller.TaskController).isStageAfter(taskForProcess.stage, T(com.ifmo.hatchery.model.system.Stage).FERTILIZATION)}">
                        <label for="caste">Male material</label>
                        <input type="text" th:placeholder="${taskForProcess.biomaterialMale.getFormSting()}" readonly> <!--  : ${taskForProcess.biomaterialMale.type} : ${taskForProcess.biomaterialMale.donor.name} -->
                    </div>

                    <!-- CHOOSE_CASTE -->
                    <div class="form-group" th:if="${taskForProcess.stage == T(com.ifmo.hatchery.model.system.Stage).CHOOSE_CASTE}">
                        <label for="caste">Caste</label>
                        <select class="form-control" id="caste" name="caste">
                            <option th:each="casteOpt : ${T(com.ifmo.hatchery.model.system.Caste).values()}"
                                    th:value="${casteOpt}"
                                    th:text="${casteOpt}"
                                    th:selected="${casteOpt == taskForProcess.order.caste}"></option>
                        </select>
                    </div>
                    <div class="row" th:if="${T(com.ifmo.hatchery.controller.TaskController).isStageAfter(taskForProcess.stage, T(com.ifmo.hatchery.model.system.Stage).CHOOSE_CASTE)}">
                        <label for="caste">Caste</label>
                        <input type="text" placeholder="${taskForProcess.caste}" readonly>
                    </div>
                    <!--<div class="form-group">
                        <label>Skills</label>
                        <th:block th:each="skill : ${availableSkills}">
                            <div class="checkbox">
                                <input type="checkbox" name="skills" th:value="${skill.id}"/>
                                <label th:text="${skill.name}"></label>
                            </div>
                        </th:block>
                    </div>-->
                    <input type="submit" value="Proceed" class="btn btn-outline-success"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>